<div
  class="h-100 w-100 d-flex flex-column justify-content-center align-items-center"
>
  <div id="form-container" class="w-50 h-50">
    <form
      class="d-flex flex-column justify-content-center bg-primary"
      style="padding: 50px 50px 53px 50px;"
    >
      <label for="username"><strong>Username:</strong></label>
      <input type="text" name="username" class="mb-3 w-100" required />

      <label for="password"><strong>Password:</strong></label>
      <input type="password" name="password" required />
      <button
        class="btn btn-success w-50 align-self-center mt-3"
        id="login-btn"
      >Login</button>

      <a
        href=""
        id="signup-btn"
        class="fw-bold text-decoration-none"
        style="color: black;"
      >Sign up instead</a>
    </form>

  </div>
</div>

<script src="./js/login.js"></script>